@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proxima-nova.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    background: #f8f8f8;
    color: #000;
}

.container {
    width: 1240px;
    margin: 0 auto;
}

.header {
    background: #142e43;
    padding: 28px 0;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo-block {
    display: flex;
    align-items: center;
    gap: 18px;
}

.logo {
    width: 140px;
}

.logo-label {
    color: white;
    font-size: 14px;
    line-height: 1.3;
}


.nav {
    display: flex;
    gap: 40px;
}

.nav-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.nav-arrow {
    font-size: 14px;
    transition: 0.3s;
}

.nav-item:hover .nav-arrow {
    transform: rotate(180deg);
}

.dropdown {
    position: absolute;
    top: 36px;
    left: 0;
    width: 240px;

    background: #fff;
    border-radius: 14px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    padding: 12px 0;

    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: 0.25s ease;
    z-index: 20;
}

.nav-item:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown a {
    display: block;
    padding: 10px 18px;
    font-size: 18px;
    color: #0d293d;
    text-decoration: none;
}

.dropdown a:hover {
    background: #f3f5f7;
}

.header-right {
    text-align: right;
}

.call-btn {
    background: #ff7a33;
    padding: 13px 26px;
    border-radius: 12px;
    border: none;
    color: white;
    font-size: 20px;
    margin-bottom: 8px;
    cursor: pointer;
}

.email {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

.phone {
    font-size: 18px;
    color: white;
}

.hero {
    background: #142e43;
    padding-top: 90px;
    height: 650px;
    position: relative;
    overflow: hidden;
}

.hero-flex {
    display: flex;
    justify-content: space-between;
}

.hero-left {
    width: 560px;
    color: white;
}

.hero-title {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.15;
    margin: 0 0 26px 0;
    font-family: 'Proxima Nova', Arial, sans-serif;
}

.white-box {
    background: white;
    width: 555px;
    border-radius: 12px;
    padding: 26px 24px;
    color: #000;
    font-size: 20px;
    margin-bottom: 26px;
    line-height: 1.35;
}

.hero-desc {
    font-size: 20px;
    margin-bottom: 26px;
}

.orange-btn {
    background: #ff7a33;
    padding: 16px 32px;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.hero-right {
    position: relative;
    width: 5400px;
}

.hero-girl {
    position: absolute;
    width: 820px;
    bottom: -120px;
    right: -100;
    z-index: 3;
}

.hero-triangles {
    position: absolute;
    width: 760px;
    right: -120px;
    top: 80px;
    opacity: 0.45;
    z-index: 2;
    transition: transform .4s ease;
}

.product {
    background: #f8f9fb;
    padding: 90px 0 60px;
}

.product-title {
    font-size: 45px;
    margin-bottom: 40px;
    font-weight: 800;
        font-family: 'Proxima Nova', Arial, sans-serif;
}

.product-top {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.product-text p {
    margin-bottom: 18px;
}

.product-text {
    width: 60%;
    font-size: 20px;
    line-height: 1.55;
}

.product-image img {
    width: 410px;
    border-radius: 12px;
}

.product-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 40px;
    margin-top: 60px;
}

.feature-card {
    width: 370px;
    padding: 10px 28px;
    background: white;
    border: 2px solid #78a8d0;
    border-radius: 16px;
    text-align: center;
    align-items: center;
}

.feature-card h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.feature-card p {
    font-size: 20px;
    line-height: 1.45;
}


.application {
    background: #0d293d;
    padding: 90px 0 140px;
    position: relative;
}

.application::before {
    content: "";
    position: absolute;
    bottom: -300px;
    ;
    left: 0;
    width: 700px;
    aspect-ratio: 1 / 1;
    background: url("img/left.jpg") no-repeat;
    background-size: contain;
    z-index: 0;
    pointer-events: none;
}


.application-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 2;
    align-items: center;
}

.app-title {
    font-size: 45px;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 45px;
        font-family: 'Proxima Nova', Arial, sans-serif;
}

.app-grid {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    gap: 22px 30px;
}

.app-card {
    background: #ffffff;
    border-radius: 16px;
    padding: 18px 22px;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border: 1px solid #dce4ec;
}

.app-right {
    width: 500px;
    margin-top: 140px;
}

.app-img {
    width: 460px;
    height: 330px;
    object-fit: cover;
    border-radius: 18px;
}


.offer-form-section {
    background: #0d293d;
    padding: 50px 0 80px;
    text-align: center;
    color: white;
    margin-top: -60px;
    z-index: 2;
}


.offer-title {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 35px;
        font-family: 'Proxima Nova', Arial, sans-serif;
}

.offer-form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 24px;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 18px;
    color: #ffffff;
}

.form-group label {
    margin-bottom: 6px;
}

.offer-form input {
    width: 320px;
    font-size: 18px;
    padding: 20px 16px;
    border-radius: 12px;
    border: none;
}

.offer-btn {
    background: #ff7a33;
    color: white;
    padding: 20px 34px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    white-space: nowrap;
}


.partners {
    background: #0f2a40;
    color: white;
    padding: 20px 0 120px;
}

.partners-flex {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.partners-left {
    width: 55%;
}

.partners-title {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 30px;
        font-family: 'Proxima Nova', Arial, sans-serif;
}

.partners-text {
    font-size: 20px;
    margin-bottom: 30px;
}

.partners-subtitle {
    font-size: 22px;
    margin-bottom: 18px;
}

.partners-list {
    font-size: 20px;
    line-height: 1.65;
    padding-left: 24px;
}

.partners-right img {
    width: 470px;
    border-radius: 18px;
}

.clients {
    padding: 80px 0 110px;
}

.clients-title {
    text-align: center;
    font-size: 42px;
    margin-bottom: 60px;
        font-family: 'Proxima Nova', Arial, sans-serif;
}

.clients-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.client-card {
    background: white;
    border-radius: 18px;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    height: 150px;
}

.client-card img {
    max-height: 70px;
}

.cta-big {

    padding: 100px 0 150px;
    display: flex;
    justify-content: center;
}

.cta-inner {
    width: 65%;
    max-width: 90%;
    background: #0d293d;
    border-radius: 28px;
    padding: 60px 70px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-content {
    width: 60%;
    z-index: 2;
}

.cta-title {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    line-height: 1.25;
    margin-bottom: 25px;
        font-family: 'Proxima Nova', Arial, sans-serif;
}

.cta-subtitle {
    font-size: 20px;
    color: #e9edf2;
    margin-bottom: 35px;
}

.cta-form {
    display: flex;
    align-items: flex-end;
    gap: 24px;
}

.cta-form .form-group {
    display: flex;
    flex-direction: column;
}

.cta-form label {
    color: #fff;
    font-size: 18px;
    margin-bottom: 8px;
}

.cta-form input {
    width: 260px;
    padding: 14px 16px;
    font-size: 18px;
    border-radius: 12px;
    border: none;
}

.cta-btn {
    background-color: #ff7a33;
    color: #fff;
    font-size: 20px;
    padding: 16px 40px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    white-space: nowrap;
    transition: 0.25s ease;
}

.cta-triangles {
    position: absolute;
    right: -100px;
    bottom: 30px;
    width: 700px;
    height: auto;
    transform: rotate(-10deg);
    z-index: 1;
    pointer-events: none;
}



.reviews-section {
    padding: 80px 0;
}

.reviews-title {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 50px;
    color: #0d293d;
    text-align: center;
        font-family: 'Proxima Nova', Arial, sans-serif;
}


.reviews-swiper .swiper-wrapper {
    align-items: stretch;
}

.swiper-slide {
    height: auto !important;
    display: flex;
}

.reviews-wrapper {
    background: #0d293d;
    padding: 80px 60px 120px;
    margin: 0 auto;
}

.reviews-title {
    font-size: 45px;
    font-weight: 800;
    color: #fff;
    text-align: center;
    margin-bottom: 60px;
        font-family: 'Proxima Nova', Arial, sans-serif;
}

.review-card {
    background: #ffffff;
    border-radius: 28px;
    padding: 38px 42px;
    box-shadow: 0 12px 26px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    height: 420px;
    overflow: hidden;
    position: relative;
}

.review-header {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 22px;
}

.review-photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.review-name {
    font-size: 26px;
    font-weight: 700;
    color: #111;
}

.review-position {
    font-size: 18px;
    color: #666;
}

.review-text {
    font-size: 20px;
    line-height: 1.52;
    color: #333;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    margin-bottom: 0;
    position: relative;
}

.review-card::after {
    content: "...";
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 26px;
    color: #999;
    pointer-events: none;
}


.review-card.short::after {
    display: none;
}

.review-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
    padding: 20px;
}

.review-modal.active {
    display: flex;
}

.review-modal-content {
    background: #fff;
    padding: 50px 40px 40px;
    width: 700px;
    max-width: 90%;
    border-radius: 14px;
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 34px;
    background: none;
    border: none;
    color: #444;
    cursor: pointer;
}

.modal-photo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.modal-name {
    font-size: 26px;
    font-weight: 700;
}

.modal-position {
    font-size: 17px;
    color: #666;
    margin-bottom: 20px;
}

.modal-full-text {
    font-size: 20px;
    line-height: 1.6;
}

.contacts-section {
    padding: 120px 0 140px;
}

.contacts-grid {
    display: grid;
    grid-template-columns: 340px 260px 1fr;
    align-items: start;
    gap: 120px;
}

.contacts-title {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 40px;
        font-family: 'Proxima Nova', Arial, sans-serif;
}

.contacts-city {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 12px;
}

.contacts-address {
    font-size: 20px;
    margin-bottom: 25px;
}

.contacts-email,
.contacts-phone {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contacts-channel {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.contacts-socials {
    display: flex;
    gap: 18px;
    margin-bottom: 25px;
}

.contacts-socials img {
    width: 40px;
    height: 40px;
}

.contacts-btn {
    padding: 16px 34px;
    font-size: 20px;
    background: #ff7e36;
    border: none;
    border-radius: 14px;
    color: #fff;
    cursor: pointer;
    transition: 0.25s;
}

.contacts-btn:hover {
    opacity: 0.85;
}


.contacts-img-wrapper {
    position: relative;
}

.contacts-img {
    width: 570px;
    position: absolute;
    top: -60px;
    right: 0;
}


.footer {
    padding: 60px 0 30px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}

.footer-logo {
    width: 140px;
}

.footer-center ul,
.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-center ul li,
.footer-right ul li {
    font-size: 20px;
    color: #222;
    margin-bottom: 14px;
    cursor: pointer;
}

.footer-center ul li:hover,
.footer-right ul li:hover {
    text-decoration: underline;
}

.copyright {
    text-align: center;
    font-size: 18px;
    color: #777;
}




@media (max-width: 768px) {

    .container {
        width: 100%;
        padding: 0 16px;
    }

    /* Хедер */
    .header {
        padding-top: 14px;
        padding-bottom: 10px;
    }

    .header-flex {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: stretch;
        gap: 10px;
    }

    .header-top-row {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        gap: 10px;
    }


    .header-top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .logo-block {
        flex-direction: row;
        gap: 10px;
    }

    .logo-label {
        display: none;
    }

    .header-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: right;
        gap: 3px;
        width: 100%;
    }

    .call-btn {
        display: none;
    }

    .email,
    .phone {
        font-size: 15px;
        line-height: 1.25;
    }

    .nav {
        width: 100%;
        display: flex !important;
        justify-content: space-between;
        order: 10;
    }

    .nav-item {
        font-size: 16px;
    }

    .dropdown {
        width: 200px;
        top: 30px;
    }

    .hero {
        background: #142e43;
        padding-top: 50px;
        padding-bottom: 60px;
        height: auto;
        text-align: center;
    }

    .hero-flex {
        flex-direction: column;
        align-items: center;
    }

    .hero-left {
        width: 100%;
    }

    .hero-title {
        font-size: 30px;
        line-height: 1.25;
        margin: 0 0 16px 0;
    }

    .white-box {
        width: 100%;
        padding: 16px 14px;
        font-size: 16px;
        margin-bottom: 16px;
    }

    .hero-desc {
        font-size: 14px;
        margin-bottom: 22px;
    }

    .orange-btn {
        width: 100%;
        padding: 16px;
        font-size: 16px;
    }

    .hero-right {
        display: none;
    }


    .product {
        padding: 50px 0 40px;
    }

    .product-title {
        font-size: 28px;
        text-align: center;
        margin-bottom: 24px;
    }

    .product-top {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .product-text {
        width: 100%;
        font-size: 16px;
        line-height: 1.55;
        padding: 0 4px;
    }

    .product-text p {
        margin-bottom: 16px;
    }

    .product-image img {
        width: 100%;
        max-width: 360px;
        border-radius: 12px;
    }

    .product-features {
        margin-top: 40px;
        gap: 16px;
    }

    .feature-card {
        width: 100%;
        max-width: 350px;
        font-size: 16px;
        padding: 14px 20px;
    }

    .feature-card h3 {
        font-size: 18px;
    }

    .feature-card p {
        font-size: 16px;
    }

    .application {
        padding: 40px 0 60px;
        background: #0d293d;
    }

    .application::before {
        display: none;
    }

    .application-flex {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .app-title {
        font-size: 28px;
        margin-bottom: 26px;
    }

    .app-grid {
        display: flex;
        flex-direction: column;
        gap: 14px;
        width: 100%;
        max-width: 360px;
    }

    .app-card {
        background: #ffffff;
        border-radius: 16px;
        padding: 16px 18px;
        font-size: 16px;
        line-height: 1.4;
        text-align: left;
    }

    .app-right {
        display: none;
    }


    .offer-form-section {
        padding: 40px 0 60px;
        text-align: center;
    }

    .offer-title {
        font-size: 26px;
        line-height: 1.25;
        margin-bottom: 26px;
    }

    .offer-form {
        flex-direction: column;
        align-items: center;
        gap: 18px;
        width: 100%;
    }

    .form-group {
        width: 100%;
        max-width: 360px;
        text-align: left;
    }

    .form-group label {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .offer-form input {
        width: 100%;
        font-size: 16px;
        padding: 16px 14px;
        border-radius: 14px;
    }

    .offer-btn {
        width: 100%;
        max-width: 360px;
        padding: 16px;
        font-size: 16px;
        border-radius: 14px;
    }

    .partners {
        padding: 40px 0 60px;
        color: #fff;
        text-align: center;
    }

    .partners-flex {
        flex-direction: column;
        align-items: center;
        gap: 24px;
        text-align: left;
    }

    .partners-left {
        width: 100%;
        max-width: 360px;
    }

    .partners-title {
        font-size: 28px;
        text-align: center;
        margin-bottom: 20px;
        line-height: 1.25;
    }

    .partners-text {
        font-size: 15px;
        margin-bottom: 16px;
        line-height: 1.55;
    }

    .partners-subtitle {
        font-size: 16px;
        margin: 20px 0 12px;
    }

    .partners-list {
        font-size: 15px;
        line-height: 1.6;
        padding-left: 18px;
    }

    .partners-right img {
        width: 100%;
        max-width: 360px;
        border-radius: 12px;
    }


    .clients {
        padding: 40px 0 50px;
        background: #f4f5f7;
    }

    .clients-title {
        font-size: 26px;
        text-align: center;
        margin-bottom: 26px;
        line-height: 1.25;
    }

    .clients-grid {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        max-width: 380px;
        margin: 0 auto;
    }

    .client-card {
        background: #ffffff;
        border-radius: 16px;
        padding: 26px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .client-card img {
        max-height: 50px;
        width: auto;
        object-fit: contain;
    }


    .cta-content {
        width: 100% ;
    }

    .cta-big {
        width: 90%;
        max-width: 100%;
        padding: 40px 0 50px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .cta-inner {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        background: #0d293d;
        padding: 32px 28px 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cta-title {
        font-size: 20px;
        margin-bottom: 16px;
        line-height: 1.35;
    }

    .cta-subtitle {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 24px;
    }

    .cta-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .cta-form .form-group {
        width: 100%;
        text-align: left;
    }

    .cta-form label {
        font-size: 14px;
        width: 100%;
    }

    .cta-form input {
        width: 100%;
        font-size: 16px;
        padding: 14px 14px;
        border-radius: 14px;
    }

    .cta-btn {
        width: 100%;
        padding: 14px;
        font-size: 16px;
        border-radius: 14px;
        white-space: normal;
    }

    .cta-triangles {
        display: none;
    }



    .reviews-wrapper {
        padding: 20px 0 20px;
        background: #0d293d;
    }

    .reviews-title {
        font-size: 26px;
        text-align: center;
        margin-bottom: 22px;
    }

    .reviews-swiper {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    .swiper-wrapper {
        display: flex;
    }

    .swiper-slide {
        width: 100% !important;
        display: flex;
        justify-content: center;
    }

    .review-card {
        width: 100%;
        max-width: 360px;
        padding: 22px 20px;
        border-radius: 18px;
        height: auto;
    }

    .review-header {
        margin-bottom: 14px;
        gap: 12px;
    }

    .review-photo {
        width: 55px;
        height: 55px;
    }

    .review-name {
        font-size: 17px;
    }

    .review-position {
        font-size: 13px;
        line-height: 1.2;
    }

    .review-text {
        font-size: 15px;
        line-height: 1.5;
        -webkit-line-clamp: 9;
        margin-bottom: 6px;
    }

    .review-card::after {
        bottom: 12px;
        font-size: 22px;
    }

    .contacts-section {
        padding: 20px 0 30px;
        margin: 0;
        position: relative;
        overflow: hidden;
    }

    .contacts-grid {
        display: flex;
        flex-direction: column;
        gap: 24px;
        max-width: 360px;
        margin: 0 auto;
    }

    .contacts-info {
        width: 100%;
        text-align: left;
    }

    .contacts-title {
        font-size: 28px;
        margin-bottom: 16px;
    }

    .contacts-city {
        font-size: 18px;
        margin-bottom: 4px;
    }

    .contacts-address {
        font-size: 15px;
        line-height: 1.4;
        margin-bottom: 16px;
    }

    .contacts-email,
    .contacts-phone {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 6px;
        display: block;
    }

    .contacts-channel {
        margin-top: 12px;
        font-size: 15px;
        font-weight: 600;
    }

    .contacts-socials {
        display: flex;
        flex-direction: row;
        gap: 12px;
        margin: 8px 0 14px;
    }

    .contacts-socials img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        border-radius: 8px;
    }

    .contacts-btn {
        width: 100%;
        max-width: 240px;
        padding: 14px;
        font-size: 16px;
        border-radius: 14px;
        text-align: center;
    }

    .contacts-img-wrapper {
        display: none;
    }



    .footer {
        background: #ffffff;
        padding: 40px 0 30px;
    }

    .footer-flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        max-width: 360px;
        margin: 0 auto;
    }

    .footer-logo {
        width: 110px;
        height: auto;
    }

    .footer-center ul,
    .footer-right ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-size: 16px;
    }

    .footer-center,
    .footer-right {
        width: 100%;
    }

    .footer-center li,
    .footer-right li {
        cursor: pointer;
    }

    .footer-center,
    .footer-right {
        margin-left: 0;
    }

    .copyright {
        margin-top: 30px;
        text-align: left;
        padding: 0 20px;
        font-size: 14px;
        line-height: 1.4;
        color: #444;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
}